/* ::::: about ::::: */

dialog {
	background-color:#FFFFFF;
}

groupbox {
	background-color:#FFFFFF; padding:8px;
}

label {
	margin:2px 0px;
}

image#ScrapBookAboutTitle {
	list-style-image: url('chrome://scrapbook/skin/title.png');
	width:400px; height:30px;
}

label#ScrapBookAboutVersion {
	font-family:Arial, Helvetica, sans-serif; font-weight:bold;
}

label.header {
	font-weight:bold; border-bottom:1px dotted #999999;
	margin-top: 10px;
}

.link {
	color:#0000FF;
	cursor:pointer;
}

row {
	margin: 2px 0px;
}

row > label {
	padding-right: 5px;
}

