/*===========================================================================
*   Sticky Annotation
*   (for downward compatibility with ScrapBook X <= 1.12.0a34)
*==========================================================================*/

div.scrapbook-sticky {
    background-color: #FAFAFA;
    border: 1px solid #CCCCCC;
    color: #202020;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    cursor: pointer;
    font-size: small;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    opacity: 0.85;
}

div.scrapbook-sticky * {
    -moz-box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

div.scrapbook-sticky .scrapbook-sticky-header {
    height: 10px;
    background-image: url('chrome://scrapbook/skin/sticky_header.png');
}

div.scrapbook-sticky .scrapbook-sticky-header[data-sb-active="1"] {
    cursor: move;
}

div.scrapbook-sticky textarea {
    width: 100%;
    font-size: small;
    font-family: gothic;
}

div.scrapbook-sticky .scrapbook-sticky-footer {
    height: 16px;
}

div.scrapbook-sticky .scrapbook-sticky-footer[data-sb-active="1"] {
    cursor: se-resize;
    background-image: url('chrome://scrapbook/skin/sticky_resizer.png');
    background-position: right bottom;
    background-repeat: no-repeat;
}

div.scrapbook-sticky input {
    height: 14px;
    margin: 1px;
    border: 1px solid #CCCCCC;
}

div.scrapbook-sticky input:focus {
    outline: none;
    border: 1px solid dodgerblue;
}


/*===========================================================================
*   Relative Sticky Annotation
*==========================================================================*/

div.scrapbook-sticky-relative {
    margin: 16px 10px;
}

/* We can't move a relative sticky annotation */
div.scrapbook-sticky-relative .scrapbook-sticky-header {
    cursor: default;
}


