#sbCaptureWindow.simple {
    width: 360px;
}

#sbCaptureWindow.simple #sbCaptureUrlList,
#sbCaptureWindow.simple #sbCaptureProgress,
#sbCaptureWindow.simple #sbCaptureDefaultSettings,
#sbCaptureWindow.simple #sbCaptureFilterToggle,
#sbCaptureWindow.simple #sbCaptureSkipButton {
    display: none;
}

#sbCaptureWindow.complex {
    width: 800px;
    height: 600px;
}

#sbCaptureDefaultSettings {
    margin-top: 5px;
    margin-bottom: 3px;
}

#sbCaptureFilterBox {
    margin: 5px;
    border: 1px solid black;
    padding: 4px;
}

#sbCaptureFilter {
    margin: 0px;
}

/* ::::: INDICATOR ::::: */

listitem[indicated="true"] {
    background-color: #33CC33;
}

listitem[indicated="true"] label {
    color: #FFFFFF;
}

listitem[disabled="true"] image {
    visibility: hidden;
}

/* ::::: SUCCEED & FAILURE ::::: */

listitem[status="succeed"] label {
    color: #33CC33;
}

listitem[status="failure"] label {
    color: #FF0000;
    font-weight: bold;
}

/* ::::: TOOLBAR BUTTON ::::: */

toolbarbutton {
    margin-left: 5px;
    padding-right: 5px;
}

toolbarbutton dropmarker {
    padding-left: 5px;
}

/* ::::: sbCapture ::::: */

treechildren::-moz-tree-checkbox {
  /* unchecked checkbox treecells. This style MUST come before treechildren::-moz-tree-checkbox(checked) otherwise it won't take effect. */
  /* list-style-image: none; */
  list-style-image: url("cbox-not-check.gif");
}

treechildren::-moz-tree-checkbox(checked) {
  /* checked checkbox treecells. cbox-check.gif isn't available in
     Firefox 1, 2, and 3 in Mac OS X so you should specify a URL to an image
     in your extension or elsewhere. */
  list-style-image: url("cbox-check.gif");
}

treechildren::-moz-tree-checkbox(disabled) {
  /* disabled checkbox treecells. cbox-check.gif isn't available in
     Firefox 1, 2, and 3 in Mac OS X, so you should specify a URL to an image
     in your extension or elsewhere. */
  list-style-image: none;
}

treechildren::-moz-tree-row(selected) {
    background-color: #33CC33;
}

treechildren::-moz-tree-row(finished) {
    background-color: #FFFFFF;
}

treechildren::-moz-tree-cell-text(success) {
    color: #33CC33;
}

treechildren::-moz-tree-cell-text(failed) {
    color: #FF0000;
    font-weight: bold;
}
