/* ::::: Combined Pages ::::: */

body {
    margin: 0px;
    background-color: #FFFFFF;
}

cite.scrapbook-header {
    clear: both;
    display: block;
    padding: 3px 6px;
    font-family: 'MS UI Gothic','Tahoma','Verdana','Arial','Sans-Serif','Helvetica';
    font-style: normal;
    font-size: 12px;
/*
    background-color:#E7F4FC;
    border: 1px solid #0FA9E5;
*/
    background-color: InfoBackground;
    border: 1px solid ThreeDShadow;
}

cite.scrapbook-header img,
div.scrapbook-combine-file {
    vertical-align: middle;
}

cite.scrapbook-header a,
div.scrapbook-combine-file {
    color: InfoText;
    text-decoration: none;
}

cite.scrapbook-header a[href]:hover {
    color: #3388FF;
}

cite.scrapbook-header a.marked { font-weight: bold; }
cite.scrapbook-header a.combine  { color: blue; }
cite.scrapbook-header a.bookmark { color: limegreen; }
cite.scrapbook-header a.notex { color: rgb(80,0,32); }

div.scrapbook-combine-file {
    padding: 20px;
    font-size: small;
}

iframe.scrapbook-iframe {
    padding: 0px;
    border: 0px;
    margin: 0px;
    width: 100%;
    height: 250px;
}

