#sbTitleLabel {
    width: 60px;
}

#sbFolderBox {
    margin-bottom: 12px;
}

#sbFolderLabel {
    width: 60px;
}

#sbDesc {
    margin-bottom: 8px;
}

#sbCombineListbox {
    margin-bottom: 12px;
}

#sbCaptureBrowser {
    border: 1px solid ThreeDShadow;
}

#sbpUp {
    height: 25px;
    list-style-image: url("expander_up.png");
}

#sbpUp[disabled="true"] {
    list-style-image: url("expander_up_dis.png");
}

#sbpDown {
    height: 25px;
    list-style-image: url("expander_down.png");
}

#sbpDown[disabled="true"] {
    list-style-image: url("expander_down_dis.png");
}

#sbpDelete {
    height: 25px;
    list-style-image: url("menu_remove.png");
}

#sbpDelete[disabled="true"] {
    list-style-image: url("menu_remove_dis.png");
}

#sbCombineOptionRemove {
    color: red;
}
