/* ::::: NOTE ::::: */

toolbarbutton#sbNoteExpand {
    list-style-image: url("expander_up.png");
}

toolbar#sbNoteToolbar {
    border-top: 1px solid ThreeDShadow;
    padding: 1px;
}

toolbarbutton#sbNoteToolbarS {
    list-style-image: url("edit_save.png");
}

toolbarbutton#sbNoteToolbarH {
    list-style-image: url("note_htmlview1.png");
}

toolbarbutton#sbNoteToolbarN {
    list-style-image: url("note_htmlview0.png");
}

image#sbNoteImage {
    width: 16px;
    height: 16px;
    margin-left: 3px;
}

