/* ::::: NAMESPACE ::::: */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: MAIN TOOLBAR BUTTON ::::: */

#scrapbook-button {
	list-style-image: url("chrome://scrapbook/skin/main_24.png");
}

toolbar[iconsize="small"] #scrapbook-button > .toolbarbutton-icon {
	list-style-image: url("chrome://scrapbook/skin/main_16.png");
	width: 16px;
	height: 16px;
}


/* ::::: CONTEXT_MENU ::::: */

.sb-capture-partial { list-style-image: url('chrome://scrapbook/skin/capture_partial.png'); }
.sb-capture-entire  { list-style-image: url('chrome://scrapbook/skin/capture_entire.png'); }
.sb-capture-target  { list-style-image: url('chrome://scrapbook/skin/capture_target.png'); }
.sb-capture-frame   { list-style-image: url('chrome://scrapbook/skin/capture_frame.png'); }

.sb-capture-partial > .menu-iconic-left image,
.sb-capture-entire  > .menu-iconic-left image,
.sb-capture-target  > .menu-iconic-left image,
.sb-capture-frame   > .menu-iconic-left image { width : 13px !important; height: 13px !important; }


/* ::::: MENUBAR ::::: */

#ScrapBookMenu menuitem.sb-item {
	list-style-image: url('chrome://scrapbook/skin/treeitem.png') !important;
}

#ScrapBookMenu menuitem.sb-item[sbtype="note"] {
	list-style-image: url('chrome://scrapbook/skin/treenote.png') !important;
}

#ScrapBookMenu menuitem.sb-item[sbtype="marked"] {
	font-weight: bold;
}

#ScrapBookMenu menuitem.sb-item[sbtype="combine"] {
	color: blue;
}

#ScrapBookMenu menuitem.sb-item[sbtype="bookmark"] {
	color: rgb(32,192,32);
}


/* ::::: EDITOR / INFOBAR ::::: */

toolbox#ScrapBookToolbox toolbar {
	border-top: 1px solid ThreeDShadow;
	padding: 1px;
}

toolbox#ScrapBookToolbox toolbar > image {
	margin-left: 3px;
}

toolbox#ScrapBookToolbox toolbarbutton .toolbarbutton-icon {
	margin-left : 2px;
	margin-right: 2px;
}

toolbox#ScrapBookToolbox toolbarbutton[type="menu-button"] .toolbarbutton-icon {
	margin-right: 0px;
}

toolbox#ScrapBookToolbox textbox {
	min-height: 2em;
}


/* ::::: HIGHLIGHTER ::::: */

toolbar#ScrapBookEditor #ScrapBookHighlighter menuitem[type="radio"] {
	padding: 2px;
	margin: 1px;
}

toolbar#ScrapBookEditor #ScrapBookHighlighter menuitem[type="radio"] {
	border: 1px solid transparent;
}

toolbar#ScrapBookEditor #ScrapBookHighlighter menupopup {
	min-width: 200px;
}


/* ::::: INFOBAR ::::: */

toolbar#ScrapBookInfobar {
	background-color: InfoBackground;
	padding-left: 8px;
	border-top: 1px solid ThreeDShadow !important;
}

toolbar#ScrapBookInfobar label {
	color: InfoText;
	cursor: pointer;
	margin-right: 50px;
}

toolbar#ScrapBookInfobar toolbarbutton {
	-moz-appearance: none;
	margin: 1px 0px 1px 6px;
	padding: 2px;
	background: none;
}

toolbar#ScrapBookInfobar toolbarbutton[disabled="true"] label {
	color: GrayText;
}


