/* ::::: Options ::::: */

radio[pane] {
	list-style-image: url("chrome://scrapbook/skin/prefs.png");
}

radio[pane="mainPane"] {
	-moz-image-region: rect(0px, 32px, 32px, 0px)
}

radio[pane="mainPane"]:hover,
radio[pane="mainPane"][selected="true"] {
	-moz-image-region: rect(32px, 32px, 64px, 0px)
}

radio[pane="tabsPane"] {
	-moz-image-region: rect(0px, 64px, 32px, 32px)
}

radio[pane="tabsPane"]:hover,
radio[pane="tabsPane"][selected="true"] {
	-moz-image-region: rect(32px, 64px, 64px, 32px)
}

/*
radio[pane="savePane"] {
	-moz-image-region: rect(0px, 96px, 32px, 64px)
}

radio[pane="savePane"]:hover,
radio[pane="savePane"][selected="true"] {
	-moz-image-region: rect(32px, 96px, 64px, 64px)
}
*/

radio[pane="editPane"] {
	-moz-image-region: rect(0px, 128px, 32px, 96px)
}

radio[pane="editPane"]:hover,
radio[pane="editPane"][selected="true"] {
	-moz-image-region: rect(32px, 128px, 64px, 96px)
}

radio[pane="organizePane"] {
	-moz-image-region: rect(0px, 160px, 32px, 128px)
}

radio[pane="organizePane"]:hover,
radio[pane="organizePane"][selected="true"] {
	-moz-image-region: rect(32px, 160px, 64px, 128px)
}

radio[pane="advancedPane"] {
	-moz-image-region: rect(0px, 192px, 32px, 160px)
}

radio[pane="advancedPane"]:hover,
radio[pane="advancedPane"][selected="true"] {
	-moz-image-region: rect(32px, 192px, 64px, 160px)
}

prefpane > checkbox,
prefpane > groupbox,
prefpane > description {
	margin-top: 5px;
	margin-bottom: 5px;
}


