/* ::::: Options ::::: */

#sbPrefWindow {
    width: 40em; height: 600px;
}

.notify-restart {
    margin-top: 1em;
    color: red;
}

prefpane vbox {
    overflow: auto;
}

radio[pane="mainPane"] {
    list-style-image: url("chrome://scrapbook/skin/prefs_main.png");
}

radio[pane="keysPane"] {
    list-style-image: url("chrome://scrapbook/skin/prefs_keys.png");
}

radio[pane="tabsPane"] {
    list-style-image: url("chrome://scrapbook/skin/prefs_tabs.png");
}

radio[pane="editPane"] {
    list-style-image: url("chrome://scrapbook/skin/prefs_edit.png");
}

radio[pane="organizePane"] {
    list-style-image: url("chrome://scrapbook/skin/prefs_organize.png");
}

radio[pane="advancedPane"] {
    list-style-image: url("chrome://scrapbook/skin/prefs_advanced.png");
}

prefpane > checkbox,
prefpane > groupbox,
prefpane > description {
    margin-top: 5px;
    margin-bottom: 5px;
}


