/* ::::: SAVE_DETAIL ::::: */

@import url("chrome://browser/skin/bookmarks/addBookmark.css");


/* ::::: TOOLBAR ::::: */

toolbarbutton#sbToolbarNewFolder {
    list-style-image: url("toolbar_create.png");
}

/*
toolbarbutton#sbToolbarNewFolder dropmarker {
    display: none;
}
*/

toolbarbutton#sbToolbarToggle {
    list-style-image: url("toolbar_toggle.png");
}

toolbarbutton#sbToolbarListView {
    list-style-image: url("toolbar_listview.png");
}

toolbarbutton#sbToolbarManage {
    list-style-image: url("toolbar_manage.png");
}

toolbarbutton#sbToolbarMove {
    list-style-image: url("toolbar_move.png");
}

toolbarbutton#sbToolbarRemove {
    list-style-image: url("menu_remove.png");
}

toolbarbutton#mbToolbarButton {
    list-style-image: url("main_16.png");
}

.sb-create .menu-iconic-icon,
menuitem#sbPopupRenew .menu-iconic-icon,
menuitem#sbPopupInternalize .menu-iconic-icon,
menuitem#sbPopupRemove .menu-iconic-icon,
menuitem#sbPopupProperty .menu-iconic-icon,
menuitem#sbToolsMenuPopupMultiple .menu-iconic-icon {
    width : 13px !important;
    height: 13px !important;
}

.sb-create {
    list-style-image: url("menu_create.png");
}


/* ::::: POPUP ::::: */

menuitem#sbPopupManage {
    list-style-image: url("toolbar_manage.png");
}

menuitem#sbPopupRemove {
    list-style-image: url("menu_remove.png");
}

menuitem#sbPopupProperty {
    list-style-image: url("menu_property.png");
}

menuitem#sbPopupSend {
    list-style-image: url("toolbar_move.png");
}

menuitem#sbPopupCopy {
    list-style-image: url("toolbar_move.png");
}

menuitem#sbPopupRenew,
menuitem#sbPopupInternalize {
    list-style-image: url("capture_target.png");
}

menuitem#sbPopupOpenLocate {
    list-style-image: url("expander_left.png");
    height: 13px !important;
}

menuitem#sbToolsMenuPopupManage {
    list-style-image: url("toolbar_manage.png");
}

menuitem#sbToolsMenuPopupMultiple {
    list-style-image: url("capture_target.png");
}

menuitem[type="radio"][checked="true"] {
    font-weight: bold;
}


/* ::::: TREE/LIST ::::: */

treechildren::-moz-tree-image(sbTreeColTitle, leaf) {
    -moz-image-region: auto !important;
    list-style-image: url("treeitem.png") !important;
    width: 16px; height: 16px;
}

treechildren::-moz-tree-image(sbTreeColTitle, note) {
    list-style-image: url("treenote.png") !important;
}

treechildren::-moz-tree-image(sbTreeColTitle, notex) {
    list-style-image: url("treenotex.png") !important;
}

treechildren::-moz-tree-cell-text(notex) {
    color: rgb(80,0,32);
}

treechildren::-moz-tree-cell-text(marked) {
    font-weight: bold;
}

treechildren::-moz-tree-cell-text(combine) {
    color: blue;
}

treechildren::-moz-tree-cell-text(bookmark) {
    color: rgb(32,192,32);
}

treechildren::-moz-tree-cell-text(invalid) {
    color: red;
    font-weight: bold;
}


/* ::::: HEADER ::::: */

sidebarheader {
    padding: 3px;
}

.sb-header {
    color: InfoText;
    background-color: InfoBackground;
    border: 1px solid ThreeDShadow;
    padding: 3px;
}

sidebarheader toolbarbutton,
.sb-header toolbarbutton {
    padding: 0px;
    margin: 0px;
    -moz-appearance: none;
}

sidebarheader toolbarbutton image,
.sb-header toolbarbutton image {
    padding: 0px 1px;
    margin: 0px;
}

.sb-header-exit {
    list-style-image: url("exit.png");
}

.sb-header-locate {
    list-style-image: url("expander_left.png");
}

.sb-header-red {
    background-color: #FFE4C7;
    border: 1px solid #FF8099;
}


/* ::::: SEARCH_BUTTON ::::: */

#sbSearchImage {
    max-width : 24px !important;
    max-height: 16px !important;
    margin : 2px !important;
    padding: 0px !important;
    background-image: url("dropdown.png");
}


/* ::::: COMMON ::::: */

treechildren::-moz-tree-drop-feedback {
    width: 80px;
}

tab {
    min-width: 80px;
    text-align: center;
}

listbox .listcell-icon {
    width: 16px; height: 16px;
}

listbox .text-right {
    text-align:right; padding-right:10px;
}

browser {
    background-color: #FFFFFF;
}


/* ::::: NOTE ::::: */

#sbNoteExpand {
    list-style-image: url("expander.png");
}

#sbNoteTextBg {
    padding-left: 2px;
}

#sbNoteTextbox {
    background-color: -moz-Field; /* Fix for Firefox 3.5 */
}
