/* ::::: SETTING ::::: */

prefwindow {
	width: 500px;
	height: 500px;
}

tab {
	min-width: 80px;
	text-align: center;
}

tabpanel > vbox {
	padding-top: 6px;
	padding-bottom: 6px;
}

tabpanel > checkbox {
	margin-top:    5px;
	margin-bottom: 5px;
}

groupbox {
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.notice { color: red; }

.indent { margin-left: 30px; }

#sbPrefDataAlert {
	margin: 10px 10px 0px 10px;
}


/* ::::: CUSTOMIZE HIGHLIGHTER ::::: */

colorpicker[disabled="true"] {
	visibility: hidden;
}

dialog#hlCustomizeDialog groupbox > hbox {
	margin-bottom: 5px;
}

