/* ::::: TRADE ::::: */

tree {
    -moz-appearance: listbox;
}

tree#sbTradeTree treechildren::-moz-tree-image(sbTradeTreeColTitle) {
    -moz-image-region: auto !important;
    width: 16px; height: 16px;
    margin-right: 3px;
}

tree#sbTradeTree treechildren::-moz-tree-cell-text(separator) {
    color: GrayText;
}

#sbTradeLog {
    height: 6.4em;
    -moz-appearance: listbox;
}

#sbTradeIcon {
    width: 16px;
    height: 16px;
    margin-left: 5px;
}


