/* ::::: TRADE ::::: */

tree {
	-moz-appearance: listbox;
}

tree#sbTradeTree treechildren::-moz-tree-image(sbTradeTreeColTitle)
{
	-moz-image-region: auto !important;
	width: 16px; height: 16px;
	margin-right: 3px;
}

#sbTradeLog {
	height: 6.4em;
	-moz-appearance: listbox;
}

#sbTradeIcon {
	width: 16px;
	height: 16px;
	margin-left:5px;
}

#sbTradePath {
	padding: 2px;
	height: 1.7em;
}

