/* ::::: sbp2Sidebar.css ::::: */

/* Gewähltes ScrapBook fett hervorheben */

menuitem[type="radio"][checked="true"] {
	font-weight: bold;
}

/* Einträge im Tree */

treechildren::-moz-tree-image() {
	margin-right : 3px;
}

treechildren::-moz-tree-image(note) {
	list-style-image: url('chrome://scrapbookplus2/skin/treenote.png');
}

/* Formatierung Dropdownmenü der Suchleiste */

#sbp2SearchImage {
	max-width : 24px !important;
	max-height: 16px !important;
	margin : 2px !important;
	padding: 0px !important;
	background-image: url('chrome://scrapbookplus2/skin/dropdown.png');
}

/* Formatierung der Einträge im Tree */

treechildren::-moz-tree-cell-text(bookmark) {
	color: rgb(32,192,32);
}

/* Formatierung des Headers der Sidebar */

.sb-header {
	color: InfoText;
	background-color: InfoBackground;
	border: 1px solid ThreeDShadow;
	padding: 3px;
}

.sb-header toolbarbutton {
	padding: 0px;
	margin: 0px;
	-moz-appearance: none;
}

.sb-header toolbarbutton image {
	padding: 0px 1px;
	margin: 0px;
}

.sb-header toolbarbutton image {
	padding: 0px 1px;
	margin: 0px;
}

.sb-header-exit {
	list-style-image: url('chrome://scrapbookplus2/skin/exit.png');
}

/* Fix für Firefox 3.5+ */

textbox[class="plain"] {
	background-color: -moz-Field;
}