font-size: 12px !important;
font-weight: normal !important;
line-height: 16px !important;
text-decoration: none !important;

color: #606060 !important;
border: 1px dotted #D7DDBF !important;
background-color: #EFF8CE !important;

margin: 10px !important;
padding: 10px !important;

white-space:-moz-pre-wrap;
cursor: pointer !important;
