font-size: 13px !important;
font-weight: normal !important;
line-height: 20px !important;
text-decoration: none !important;

color: #000000 !important;
border: 1px solid #0FA9E5 !important;
background-color: #E7F4FC !important;

margin: 10px !important;
padding: 10px !important;

white-space:normal !important;
cursor: pointer !important;

