/* ::::: notify ::::: */

#ScrapBookNotifyBox {
	border: 2px solid #7B969C;
	min-height: 50px;
}

#ScrapBookNotifyIconBox {
	margin-left : 4px;
	margin-right: 6px;
	min-height: 46px;
}

#ScrapBookNotifyTextBox {
	padding-right: 10px;
	padding-top  : 5px;
}

#ScrapBookNotifyTitle {
	font-weight: bold;
}

#ScrapBookNotifyText {
	margin-right: 6px;
	cursor: pointer;
	color: #1455D6;
	text-decoration: underline;
}

#ScrapBookNotifyText:hover:active {
	color: #424F63;
}


