/* ::::: namespace ::::: */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: Toolbar Button ::::: */

#scrapbook-button
{
	list-style-image: url("chrome://scrapbook/skin/mainicon1.png");
}

toolbar[iconsize="small"] #scrapbook-button
{
	list-style-image: url("chrome://scrapbook/skin/mainicon2.png");
}


/* ::::: Context Menu ::::: */

menuitem#ScrapBookContextMenu1 { list-style-image: url('chrome://scrapbook/skin/capture_partial.png'); }
menuitem#ScrapBookContextMenu2 { list-style-image: url('chrome://scrapbook/skin/capture_partial_as.png'); }
menuitem#ScrapBookFileMenu3,
menuitem#ScrapBookContextMenu3 { list-style-image: url('chrome://scrapbook/skin/capture_entire.png'); }
menuitem#ScrapBookFileMenu4,
menuitem#ScrapBookContextMenu4 { list-style-image: url('chrome://scrapbook/skin/capture_entire_as.png'); }
menuitem#ScrapBookContextMenu5 { list-style-image: url('chrome://scrapbook/skin/capture_frame.png'); }
menuitem#ScrapBookContextMenu6 { list-style-image: url('chrome://scrapbook/skin/capture_frame_as.png'); }
menuitem#ScrapBookContextMenu7 { list-style-image: url('chrome://scrapbook/skin/capture_target.png'); }
menuitem#ScrapBookContextMenu8 { list-style-image: url('chrome://scrapbook/skin/capture_target_as.png'); }

menuitem#ScrapBookContextMenu1 .menu-iconic-icon,
menuitem#ScrapBookContextMenu2 .menu-iconic-icon,
menuitem#ScrapBookContextMenu3 .menu-iconic-icon, menuitem#ScrapBookFileMenu3 .menu-iconic-icon,
menuitem#ScrapBookContextMenu4 .menu-iconic-icon, menuitem#ScrapBookFileMenu4 .menu-iconic-icon,
menuitem#ScrapBookContextMenu5 .menu-iconic-icon,
menuitem#ScrapBookContextMenu6 .menu-iconic-icon,
menuitem#ScrapBookContextMenu7 .menu-iconic-icon,
menuitem#ScrapBookContextMenu8 .menu-iconic-icon
{
	width : 13px !important;
	height: 13px !important;
}


/* ::::: BrowserMessage ::::: */

browsermessage[type="scrapbook"]
{
	-moz-appearance: none;
	background-color: InfoBackground;
	border-bottom: 1px solid ThreeDShadow;
	padding: 3px 8px;
	overflow: hidden;
}

browsermessage[type="scrapbook"] description
{
	-moz-appearance: none;
	color: InfoText;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
}

browsermessage[type="scrapbook"] button
{
	-moz-appearance: none;
	margin: 0px;
	padding: 0px;
	background: none;
	border: none;
}

