/* ::::: NAMESPACE ::::: */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: MAIN TOOLBAR BUTTON ::::: */

#scrapbook-button
{
	list-style-image: url("chrome://scrapbook/skin/mainicon1.png");
}

toolbar[iconsize="small"] #scrapbook-button
{
	list-style-image: url("chrome://scrapbook/skin/mainicon2.png");
}


/* ::::: CONTEXT MENU ::::: */

menuitem#ScrapBookContextMenu1 { list-style-image: url('chrome://scrapbook/skin/capture_partial.png'); }
menuitem#ScrapBookContextMenu2 { list-style-image: url('chrome://scrapbook/skin/capture_partial_as.png'); }
menuitem#ScrapBookFileMenu3,
menuitem#ScrapBookContextMenu3 { list-style-image: url('chrome://scrapbook/skin/capture_entire.png'); }
menuitem#ScrapBookFileMenu4,
menuitem#ScrapBookContextMenu4 { list-style-image: url('chrome://scrapbook/skin/capture_entire_as.png'); }
menuitem#ScrapBookContextMenu5 { list-style-image: url('chrome://scrapbook/skin/capture_frame.png'); }
menuitem#ScrapBookContextMenu6 { list-style-image: url('chrome://scrapbook/skin/capture_frame_as.png'); }
menuitem#ScrapBookContextMenu7 { list-style-image: url('chrome://scrapbook/skin/capture_target.png'); }
menuitem#ScrapBookContextMenu8 { list-style-image: url('chrome://scrapbook/skin/capture_target_as.png'); }

menuitem#ScrapBookContextMenu1 .menu-iconic-icon,
menuitem#ScrapBookContextMenu2 .menu-iconic-icon,
menuitem#ScrapBookContextMenu3 .menu-iconic-icon, menuitem#ScrapBookFileMenu3 .menu-iconic-icon,
menuitem#ScrapBookContextMenu4 .menu-iconic-icon, menuitem#ScrapBookFileMenu4 .menu-iconic-icon,
menuitem#ScrapBookContextMenu5 .menu-iconic-icon,
menuitem#ScrapBookContextMenu6 .menu-iconic-icon,
menuitem#ScrapBookContextMenu7 .menu-iconic-icon,
menuitem#ScrapBookContextMenu8 .menu-iconic-icon
{
	width : 13px !important;
	height: 13px !important;
}


/* ::::: GENERIC TOOLBAR ::::: */

toolbox#ScrapBookToolbox toolbar
{
	border-top: 1px solid ThreeDShadow;
	padding: 1px;
}

toolbox#ScrapBookToolbox toolbar > image
{
	margin-left: 3px;
}

toolbox#ScrapBookToolbox toolbarbutton .toolbarbutton-icon
{
	margin-left : 2px;
	margin-right: 2px;
}

toolbox#ScrapBookToolbox toolbarbutton[type="menu-button"] .toolbarbutton-icon
{
	margin-right: 0px;
}


/* ::::: EDITOR ::::: */

toolbar#ScrapBookEditor textbox
{
	height: 1.9em !important;
	padding: 2px  !important;
}

toolbar#ScrapBookEditor #ScrapBookEditMarker menuitem
{
	border: 1px solid transparent;
}

toolbar#ScrapBookEditor #ScrapBookEditMarker menuitem:hover
{
	border: 1px solid Highlight;
}


/* ::::: INFOBAR ::::: */

toolbar#ScrapBookInfobar
{
	background-color: InfoBackground;
	padding-left: 8px;
}

toolbar#ScrapBookInfobar label
{
	color: InfoText;
	cursor: pointer;
	margin-right: 50px;
}

toolbar#ScrapBookInfobar toolbarbutton
{
	-moz-appearance: none;
	margin: 1px 0px 1px 6px;
	padding: 2px;
	background: none;
}

toolbar#ScrapBookInfobar toolbarbutton[disabled="true"] label
{
	color: GrayText;
}

