/* ::::: SETTING ::::: */

dialog { width:500px; }
tabpanel > vbox { padding: 6px 0px; }
checkbox { padding: 5px 0px; }
textbox  { height: 1.8em; padding: 2px; }

tabpanel.narrow checkbox { padding: 3px 0px; }

description.indent { margin-left: 30px; }

groupbox { padding: 6px 0px; }
groupbox checkbox { padding: 0px; }
hbox.indent { margin-left: 30px; }

caption { padding: 1px; }
caption image { margin-right: 5px; }

#sbPrefDataAlert { margin: 10px; }

