/* ::::: ScrapBook Setting ::::: */

dialog { width:480px; }
tabpanel > vbox { padding: 6px 0px; }
checkbox { padding: 5px 0px; }
textbox  { padding: 2px; }

/* :::: Use Tabs ::::: */

tabpanel.narrow checkbox { padding: 3px 0px; }

/* :::: Capture ::::: */

description.indent { margin-left: 30px; }

/* :::::: Advance ::::: */

groupbox { padding: 6px 0px; }
groupbox checkbox { padding: 0px; }
hbox.indent { margin-left: 30px; }

