/**
 * You can edit this CSS.
 * If you want to reset to default, remove this file and redo outputting HTML.
 */

body {
	margin: 0px;
	padding: 0px;
}

/* ::::: header ::::: */
h1 {
	display: none;
}

/* ::::: menu ::::: */
div#header {
	padding: 3px 10px;
	border-bottom: 1px solid #0FA9E5;
	background-color: #E7F4FC;
	font-size: x-small;
	font-family: Verdana,Arial,Helvetica;
}

/* ::::: list ::::: */
ul {
	margin-left :  0px;
	padding-left : 0px;
}

/* ::::: list items ::::: */
li {
	list-style-type: none;
	margin:2px 20px;
	white-space: nowrap;
	font-family:"MS UI Gothic", sans-serif;
	font-size:9pt;
}

a {
	text-decoration: none;
	color: #000000;
}

a:active {
	background-color:#000000;
	color:#FFFFFF;
}

/* ::::: folder ::::: */
a.folder {
	font-weight: bold;
}

/* ::::: icon ::::: */
li img {
	border: none;
	vertical-align: middle;
	margin-right: 5px;
}

