/* ::::: sbpCapture ::::: */

treechildren::-moz-tree-checkbox {
  /* unchecked checkbox treecells. This style MUST come before treechildren::-moz-tree-checkbox(checked) otherwise it won't take effect. */
  /* list-style-image: none; */
  list-style-image: url("chrome://scrapbook/skin/sbpExtra/cbox-not-check.gif");
}

treechildren::-moz-tree-checkbox(checked) {
  /* checked checkbox treecells. cbox-check.gif isn't available in
     Firefox 1, 2, and 3 in Mac OS X so you should specify a URL to an image
     in your extension or elsewhere. */
  list-style-image: url("chrome://scrapbook/skin/sbpExtra/cbox-check.gif");
}

treechildren::-moz-tree-checkbox(disabled) {
  /* disabled checkbox treecells. cbox-check.gif isn't available in
     Firefox 1, 2, and 3 in Mac OS X, so you should specify a URL to an image
     in your extension or elsewhere. */
  list-style-image: none;
}

treechildren::-moz-tree-row(selected) {
    background-color: #33CC33;
}

treechildren::-moz-tree-row(finished) {
    background-color: #FFFFFF;
}

treechildren::-moz-tree-cell-text(success) {
    color: #33CC33;
}

treechildren::-moz-tree-cell-text(failed) {
    color: #FF0000;
    font-weight: bold;
}